<div class="container">
    <mat-drawer-container class="drawer-container" autosize mode="over">

        <mat-drawer-content class="content">
            <app-content-paper></app-content-paper>
        </mat-drawer-content>

        <mat-drawer #navigation position="start">
            <app-content-navigation></app-content-navigation>
        </mat-drawer>

        <mat-drawer #drawer position="end">
            <router-outlet></router-outlet>
        </mat-drawer>
    </mat-drawer-container>
    <span class="buttons">
        <button type="button" mat-raised-button (click)="navigation.toggle()">
            Toggle navigation
        </button>
        <button type="button" mat-raised-button (click)="drawer.toggle()">
            Toggle drawer
        </button>
        <button type="button" mat-raised-button (click)="calculate()">
            CALCULATE!!
        </button>

    </span>

    <app-content-summary></app-content-summary>
</div>