<mat-toolbar>
    <mat-toolbar-row>
        <span>SYSTEMer</span>
        <span class="spacer"></span>
        <button mat-icon-button color="primary" aria-label="button with a home icon">
            <mat-icon class="icon" fontIcon="home"></mat-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="button with a login icon">
            <mat-icon class="icon" fontIcon="login"></mat-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="button with a help icon">
            <mat-icon class="icon" fontIcon="help"></mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>